main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  width: 100%;
}
aside {
  width: 50%;
}
#form {
  padding: 1%;
}
form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
input {
  margin-bottom: 1em;
}
button {
  border: none;
  border-radius: 10px;
  padding: 4px;
  margin: 1em;
  margin-top: 0;
  background-color: black;
  color: white;
}
